<div class="upload">
  {{ file.name }}

  <!-- pipe de async... si es nulo que sea 0 y que el máximo sea 100 -->
  <progress
    class="upload__progress"
    [value]="(percentage$ | async) || 0"
    max="100"
  ></progress>

  <div class="upload__info" *ngIf="snapshot$ | async as snapshot">
    <div>{{ snapshot.bytesTransferred }} of {{ snapshot.totalBytes }}</div>

    <div>
      <div *ngIf="downloadURL; then completed; else inProgress"></div>

      <!-- se muestra si está completo -->
      <ng-template #completed>

        <a class="app-a" [href]="downloadURL" target="_blank" rel="noopener">Descargar</a>

      </ng-template>

      <!-- se muestra si está en progreso -->
      <ng-template #inProgress>
        <!-- detiene la subida del archivo al servidor -->
        <button
          (click)="task.pause()"
          class="button"
          [disabled]="!(snapshot?.state === 'running')"
        >
          Pausa
        </button>
        <button
          (click)="task.cancel()"
          class="button"
          [disabled]="!(snapshot?.state === 'running')"
        >
          Cancelar
        </button>
        <button
          (click)="task.resume()"
          class="button"
          [disabled]="!(snapshot?.state === 'paused')"
        >
          Continuar
        </button>
      </ng-template>
    </div>
  </div>
</div>
