
//los 'on' son textos

//estilos y fuentes de página
$base : #fafafa;
$base-dark: #e0e0e0;
$base-light: #fff;
$on-base: #000;

//los colores base de nuestra aplicación angular

//se asignan variables con '$'
$primary: #0277bd;
$primary-dark: #004c8c;
$primary-light: #58a5f0;
$on-primary : #fff;

//secundarios
$secondary: #f44336;
$secondary-dark: #b90007;
$secondary-light: #ff795d;
$on-secondary : #fff;


//para mensajes de error
$error : #B00020;
$on-error: #fff;

//para exitoso
$success: #99aa00;
$on-success : #fff;

