
<mat-nav-list>
  <!-- para que se cierre el drawer -->
  <a mat-list-item (click)="closeMenu()">
    <mat-icon>home</mat-icon>
    <span class="navigation-list-label">Home</span>
  </a>


  <a mat-list-item (click)="closeMenu()">
    <mat-icon>login</mat-icon>
    <span class="navigation-list-label">Inicio de Sesión</span>
  </a>

  <a mat-list-item (click)="closeMenu()">
    <mat-icon>how_to_register</mat-icon>
    <span class="navigation-list-label">Registrar</span>
  </a>

  <a mat-list-item (click)="closeMenu()">
    <mat-icon>contact_support</mat-icon>
    <span class="navigation-list-label">Contacto</span>
  </a>


  <a mat-list-item (click)="closeMenu()">
    <mat-icon>add</mat-icon>
    <span class="navigation-list-label">Nuevo Producto</span>
  </a>

  <a mat-list-item (click)="closeMenu()">
    <mat-icon>logout</mat-icon>
    <span class="navigation-list-label">Cerrar Sesión</span>
  </a>

</mat-nav-list>
